:root {
  --separationAxisY: 20px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 90%;
  width: 100%;
  margin: 20px auto;
}

.listItemsCreated {
  margin: var(--separationAxisY) 0px;
}

.itemsList {
  margin: var(--separationAxisY) 0px;
}

.shoppingCartItems{
  margin: var(--separationAxisY) 0px;
}

.listOrdersAdmin {
  margin: var(--separationAxisY) 0px;
}

.listContentAdmin {
  margin: var(--separationAxisY) 0px;
}

.listOrdersClient {
  margin: var(--separationAxisY) 0px;
}

.listContentClient {
  margin: var(--separationAxisY) 0px;
}