:root {
  --separationAxisY: 20px;
  --colorLink: #222; 
  --mainColor:#F7B267;
  --ulNav:#EBBE9B;
  /* --bgApp:#272932;
  --fontColor:#EEEEFF; */
  --completeColor:#2A7F62;
  --noComplete:#90323D;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--bgApp);
}

body {
  width: 100%;
  color: var(--fontColor);
}

/* --------------NAVBAR---------- */

.navBarNav{
  background-color: var(--mainColor);
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0;
  z-index: 100;
}

.buttonBurger{
  border: none;
  margin-top: 5px;
  margin-left: 10px;
  background: none;
  border-radius: 10%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------------------ICON SVG ----------------*/
.burguerButton {
  background-color: var(--mainColor);
  color: var(--fontColor);
  height: 30px;
  width: 30px;
}
/* ----------------------ICON SVG-------------------- */

.ulNavbar{
  width: 70%;
  margin-top: 2px;
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: var(--mainColor);
}

.inactive{
  position: absolute;
  left: -100%;
  transition: all 0.2s;
}

.active{
  position: absolute;
  left: 0;
  transition: all 0.2s;
  background-color: var(--mainColor);
}

.active li{
  padding: 10px;
  list-style: none;
  transition: 0.2s;
  background-color: var(--mainColor);
}

.active li:hover{
  background: var(--ulNav);
  transition: 0.2s;
}

.linkNav {
  text-decoration: none;
  font-size: 17px;
  color: var(--colorLink);
  background-color: transparent;
}

.ulNavbar li button {
  background: none;
  border: none;
  color: var(--colorLink);
  cursor: pointer;
  font-size: 17px;
}

/* --------------NAVBAR---------- */

.listItemsCreated {
  margin: var(--separationAxisY) 0px;
}

.itemsList {
  margin: var(--separationAxisY) 0px;
}

.shoppingCartItems{
  margin: var(--separationAxisY) 0px;
}

.listOrdersAdmin {
  margin: var(--separationAxisY) 0px;
}

.listContentAdmin {
  margin: var(--separationAxisY) 0px;
}

/* ----------------------------------MAIN CONTAINER---------------- */

.mainContent {
  max-width: 90%;
  margin: 50px auto 0 auto;
}

/* ----------------------------------MAIN CONTAINER---------------- */

/* ------------------------------PROFILE PAGE---------------------- */

.profileC{
  display: flex;
  margin: 90px auto 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  border: solid 3px var(--mainColor);
  border-radius: 20px;
}

.profileC svg {
  padding: 20px;
}

.lastElementProfile {
  padding-bottom: 20px;
}

/* ------------------------------PROFILE PAGE---------------------- */

/* -----------------ORDERS PAGE-------------------------- */
.listOrdersClient {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-bottom: solid 3px var(--colorLink);
}

.listContentClient {
  margin: 5px 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: solid 2px var(--colorLink);
}

.statusOrder{
  display: flex;
  gap: 5px;
}

/* .statusOrder svg {
  color: var(--completeColor);
} */

.nocomplete {
  color: var(--noComplete);
}

.complete {
  color: var(--completeColor);
}
/* -----------------ORDERS PAGE-------------------------- */